*,
*::before,
*::after {
margin:0;
padding: 0;
box-sizing:border-box;
font-family:arial;
background-color:skyblue;
}

label {


color:white;

}


h1 {
   color:white;
}

#FarenCel {

background-color:white;
padding:0.4rem;
}
#InpStyle {

    background-color:white;

}

#CelFaren {

    background-color:white;
    padding:0.4rem;

}